<a href="https://colab.research.google.com/github/daegeunbae/daegeunbae/blob/main/02_pandas_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
## DF 값 생성하기~~

In [ ]:
d = [ 1, 2,3,4,5,]
df = pd.DataFrame(d)
df

   0
0  1
1  2
2  3
3  4
4  5

In [ ]:
ps = pd.Series(d)
ps

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
# 간략하게 df에서 핸들링을 해보자~~
# Pandas의 DataFrame에서 인덱스가 2개가 존재하는데,,
# 가로줄 인덱스 : index
# 세로줄 인덱스 : columns

In [ ]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
df.columns

RangeIndex(start=0, stop=1, step=1)

In [ ]:
df.columns = ["col1"]
df

In [ ]:
# 앞으로 편히 자주 사용하는 것이 
#   -> 기존의 DF가 있는 상태에서 컬럼을 추가!!!

In [ ]:
df["newCol"] = d
df

   col1  newCol
0     1       1
1     2       2
2     3       3
3     4       4
4     5       5

In [ ]:
df["newCol"] = 5
df

   col1  newCol
0     1       5
1     2       5
2     3       5
3     4       5
4     5       5

In [ ]:
df["newCol"]

0    5
1    5
2    5
3    5
4    5
Name: newCol, dtype: int64

In [ ]:
df

   col1  newCol
0     1       5
1     2       5
2     3       5
3     4       5
4     5       5

In [ ]:
# --> 이 구조는 정말 많이 활용을 하니 이해!!
df["new1"] = df["col1"] * 100
df

   col1  newCol  new1
0     1       5   100
1     2       5   200
2     3       5   300
3     4       5   400
4     5       5   500

In [ ]:
# Q) 기존의 df에서 col1 의 값과 newCol의 값을 합하여서
#     새로운 new2 라는 컬럼을 만들어 보세요`~~

In [ ]:
df["new2"] = df["col1"] + df["newCol"]
df

   col1  newCol  new1  new2
0     1       5   100     6
1     2       5   200     7
2     3       5   300     8
3     4       5   400     9
4     5       5   500    10

In [ ]:
## 기존의 컬럼의 값을 처리를 하여서 제거를 해야할 때.
#  아니면 불필요한 컬럼을 제거하고자 할 때!!!

In [ ]:
# 방법1) del 함수 이용
del df["new2"]
df

   col1  newCol  new1
0     1       5   100
1     2       5   200
2     3       5   300
3     4       5   400
4     5       5   500

In [ ]:
# 방법2) DF의 drop 메서드->원본 유지 
#        pandas에서 지울 떄는 drop을 사용하는데,
#        가로줄로 지울지 : axis =0
#        세로줄로 지울지 : axis = 1
df.drop("new1", axis = 1)
df

   col1  newCol  new1
0     1       5   100
1     2       5   200
2     3       5   300
3     4       5   400
4     5       5   500

In [ ]:
df.drop(3, axis=0)

   col1  newCol  new1
0     1       5   100
1     2       5   200
2     3       5   300
4     5       5   500

In [ ]:
# 방법3) 내가 필요한 컬럼만 선택해서~~~
df_2 = df[ ["col1","newCol"]]
df_2

   col1  newCol
0     1       5
1     2       5
2     3       5
3     4       5
4     5       5

In [ ]:
## 이제 데이터를 만들어 보자~

In [ ]:
stock_price_DF = pd.DataFrame(
    data = [10000, 10300, 9900, 10500, 11000],
    index = ["2022-01-01", "2022-01-02","2022-01-03",
             "2022-01-04", "2022-01-5"]
)
stock_price_DF

                0
2022-01-01  10000
2022-01-02  10300
2022-01-03   9900
2022-01-04  10500
2022-01-5   11000

In [ ]:
## 컬럼 이름 변경!!!! -> 자주 사용됨!!! rename

In [ ]:
# -> 에러가 없는 것이 아니라 진짜 변경이 되었는지
# 꼭!!!!꼭!!!! 눈으로 확인!!!체크 필요!!!!
stock_price_DF.rename(columns = {"0":"시가"},inplace=True)

In [ ]:
stock_price_DF

                0
2022-01-01  10000
2022-01-02  10300
2022-01-03   9900
2022-01-04  10500
2022-01-5   11000

In [ ]:
stock_price_DF.rename(columns = {0:"시가"},inplace=True)
stock_price_DF

               시가
2022-01-01  10000
2022-01-02  10300
2022-01-03   9900
2022-01-04  10500
2022-01-5   11000

In [ ]:
## 일단 DF가 1줄이라고 있는 상태에서
#  옆으로(컬럼 추가) 추가를 하고자 한다.
#  종가 컬럼 추가 : 11000, 12000, 10000,13000, 12000
#  고가 컬럼 추가 : 13000, 15000, 15000, 18000, 17000
#  저가 컬럼 추가 :  3000,  5000,  5000,   8000,7000

In [ ]:
stock_price_DF = pd.DataFrame(
    data = [10000, 10300, 9900, 10500, 11000],
    index = ["2022-01-01", "2022-01-02","2022-01-03",
             "2022-01-04", "2022-01-5"]
)
stock_price_DF.rename(columns = {0:"시가"},inplace=True)
stock_price_DF["종가"] = [11000, 12000, 10000,13000, 12000]
stock_price_DF["고가"] = [13000, 15000, 15000, 18000, 17000 ]
stock_price_DF["저가"] = [3000,  5000,  5000,   8000, 7000]
stock_price_DF
# -> 여기서 체크할 사항: 기존 DF가 있다면
#     DF[ 컬럼] 으로 쉽게 컬럼에 대한 핸들링이 쉽다!!!

               시가     종가     고가    저가
2022-01-01  10000  11000  13000  3000
2022-01-02  10300  12000  15000  5000
2022-01-03   9900  10000  15000  5000
2022-01-04  10500  13000  18000  8000
2022-01-5   11000  12000  17000  7000

In [ ]:
# Q) 컬럼 이름을 시가 : S, 종가 : E, 고가 :H, 저가 : L
# Q) 다시 원래의 컬럼 이름으로 복구~

In [ ]:
stock_price_DF.rename(columns={
    "시가":"S", "종가":"E",
    "고가":"H", "저가":"L"
}, inplace = True)
stock_price_DF

                S      E      H     L
2022-01-01  10000  11000  13000  3000
2022-01-02  10300  12000  15000  5000
2022-01-03   9900  10000  15000  5000
2022-01-04  10500  13000  18000  8000
2022-01-5   11000  12000  17000  7000

In [ ]:
stock_price_DF.rename(columns={
    "S":"시가", "E":"종가",
    "H":"고가", "L":"저가"
}, inplace = True)
stock_price_DF

               시가     종가     고가    저가
2022-01-01  10000  11000  13000  3000
2022-01-02  10300  12000  15000  5000
2022-01-03   9900  10000  15000  5000
2022-01-04  10500  13000  18000  8000
2022-01-5   11000  12000  17000  7000

In [ ]:
# Q1) stock_price_DF.iat[0]은 왜 에러가 나타날까?
# Q2) 2022년 1월 3일의 시가와 종가는?
# Q3) 2022년 1월 1일부터 1월 3일의 시가/종가/고가/저가는?

In [ ]:
stock_price_DF.iat[0,0] # DF는 2차원 이므로
# 명확하게 가로, 세로의 정보로 1개의 포인트에 접근!!

10000

In [ ]:
#stock_price_DF.loc[ 가로(인덱스),  세로(컬럼)]
stock_price_DF.loc["2022-01-03", ["시가","종가"]]

시가     9900
종가    10000
Name: 2022-01-03, dtype: int64

In [ ]:
stock_price_DF.loc["2022-01-01":"2022-01-03" , "시가":"저가"]

               시가     종가     고가    저가
2022-01-01  10000  11000  13000  3000
2022-01-02  10300  12000  15000  5000
2022-01-03   9900  10000  15000  5000

In [ ]:
stock_price_DF.loc["2022-01-01":"2022-01-03" ,:]

               시가     종가     고가    저가
2022-01-01  10000  11000  13000  3000
2022-01-02  10300  12000  15000  5000
2022-01-03   9900  10000  15000  5000

In [ ]:
# Q) 2022년 1월 3일, 시가는 얼마?
# Q) 2022년 1월 3일, 1월 5일의 시가, 종가는?
# Q) 시가와 저가만 보려면?

In [ ]:
stock_price_DF.at["2022-01-03", "시가"]

9900

In [ ]:
stock_price_DF.at["2022-01-03"]

TypeError: ignored

In [ ]:
stock_price_DF["2022-01-03"]

KeyError: ignored

In [ ]:
stock_price_DF["2022-01-03":"2022-01-05"]

               시가     종가     고가    저가
2022-01-03   9900  10000  15000  5000
2022-01-04  10500  13000  18000  8000

In [ ]:
stock_price_DF["시가"]

2022-01-01    10000
2022-01-02    10300
2022-01-03     9900
2022-01-04    10500
2022-01-5     11000
Name: 시가, dtype: int64

In [ ]:
# Q) 2022년 1월 3일, 1월 5일의 시가, 종가는?
stock_price_DF.loc[["2022-01-03","2022-01-5"], ["시가","종가"]]

               시가     종가
2022-01-03   9900  10000
2022-01-5   11000  12000

In [ ]:
# Q) 시가와 저가만 보려면?

In [ ]:
stock_price_DF[ ["시가","저가"]]

               시가    저가
2022-01-01  10000  3000
2022-01-02  10300  5000
2022-01-03   9900  5000
2022-01-04  10500  8000
2022-01-5   11000  7000

In [ ]:
stock_price_DF.loc[:,  ["시가","저가"]]

               시가    저가
2022-01-01  10000  3000
2022-01-02  10300  5000
2022-01-03   9900  5000
2022-01-04  10500  8000
2022-01-5   11000  7000

In [ ]:
# 참고)

In [ ]:
type(stock_price_DF["시가"])

pandas.core.series.Series

In [ ]:
stock_price_DF["시가"]["2022-01-01"]

10000

In [ ]:
### 기타 기능

In [ ]:
stock_price_DF.T

    2022-01-01  2022-01-02  2022-01-03  2022-01-04  2022-01-5
시가       10000       10300        9900       10500      11000
종가       11000       12000       10000       13000      12000
고가       13000       15000       15000       18000      17000
저가        3000        5000        5000        8000       7000

In [ ]:
stock_price_DF.shape

(5, 4)

In [ ]:
stock_price_DF.shape[0]

5

In [ ]:
stock_price_DF.shape[1]

4

In [ ]:
len(stock_price_DF) # -> 가로줄에 대해서만!!!

5

In [ ]:
stock_price_DF.size

20

In [ ]:
#### 인덱스에 대하여....

In [ ]:
stock_price_DF.reindex(["2022-01-01","2021-01-02"])

                 시가       종가       고가      저가
2022-01-01  10000.0  11000.0  13000.0  3000.0
2021-01-02      NaN      NaN      NaN     NaN

In [ ]:
stock_price_DF.reindex(["2022-01-01","2021-01-02"],
                       fill_value=0)

               시가     종가     고가    저가
2022-01-01  10000  11000  13000  3000
2021-01-02      0      0      0     0

In [ ]:
stock_price_DF.reindex(["2022-01-01","2021-01-02"],
                       fill_value=700)

               시가     종가     고가    저가
2022-01-01  10000  11000  13000  3000
2021-01-02    700    700    700   700

In [ ]:
### 중간에 누락된 값을 채우는 방법 중 하나 : 보간법

In [ ]:
test = pd.DataFrame([4.5, 7.2, -5.3], index=["c","b","a"])
test

     0
c  4.5
b  7.2
a -5.3

In [ ]:
test= test.reindex(["a","d","e","c","b"])
test

     0
a -5.3
d  NaN
e  NaN
c  4.5
b  7.2

In [ ]:
test.iloc[:,0].interpolate()

a   -5.300000
d   -2.033333
e    1.233333
c    4.500000
b    7.200000
Name: 0, dtype: float64

In [ ]:
test["adj"] = test.iloc[:,0].interpolate()
test

     0       adj
a -5.3 -5.300000
d  NaN -2.033333
e  NaN  1.233333
c  4.5  4.500000
b  7.2  7.200000

In [ ]:
test = test.reindex(["f","a","d","e","c","b"])
test

     0       adj
f  NaN       NaN
a -5.3 -5.300000
d  NaN -2.033333
e  NaN  1.233333
c  4.5  4.500000
b  7.2  7.200000

In [ ]:
test.interpolate() 
# 단순히 기계적으로 적용을 하시면 안 되고!!!
# 꼭 직접 데이터가 변형이 되었는지 체크!!!체크!!!

          0       adj
f       NaN       NaN
a -5.300000 -5.300000
d -2.033333 -2.033333
e  1.233333  1.233333
c  4.500000  4.500000
b  7.200000  7.200000

In [ ]:
### 정렬~
#   Pandas는 기본적인 구성이 인덱스 + 값
#            -> 정렬 기준도 인덱스 or 값
#            여기서 DF는 2차원이여서 인덱스로 할 때
#                        가로인덱스? 세로인덱스?
#                        drop처럼 axis로 선택해서!!

In [ ]:
stock_price_DF.sort_index(axis = 1, ascending=True)

               고가     시가    저가     종가
2022-01-01  13000  10000  3000  11000
2022-01-02  15000  10300  5000  12000
2022-01-03  15000   9900  5000  10000
2022-01-04  18000  10500  8000  13000
2022-01-5   17000  11000  7000  12000

In [ ]:
stock_price_DF.sort_index(axis = 1, ascending=False)

               종가    저가     시가     고가
2022-01-01  11000  3000  10000  13000
2022-01-02  12000  5000  10300  15000
2022-01-03  10000  5000   9900  15000
2022-01-04  13000  8000  10500  18000
2022-01-5   12000  7000  11000  17000

In [ ]:
stock_price_DF.sort_index(axis = 0, ascending=False)

               시가     종가     고가    저가
2022-01-5   11000  12000  17000  7000
2022-01-04  10500  13000  18000  8000
2022-01-03   9900  10000  15000  5000
2022-01-02  10300  12000  15000  5000
2022-01-01  10000  11000  13000  3000

In [ ]:
# Q) 가로줄은 최근 날짜를 맨 앞으로...
#    세로줄은 컬럼명(ㄱ -> ㅎ) 순서대로 정렬해서 보고자 하면?
stock_price_DF.sort_index(axis = 0, ascending=False).sort_index(axis=1,ascending=True)

               고가     시가    저가     종가
2022-01-5   17000  11000  7000  12000
2022-01-04  18000  10500  8000  13000
2022-01-03  15000   9900  5000  10000
2022-01-02  15000  10300  5000  12000
2022-01-01  13000  10000  3000  11000

In [ ]:
## 인덱스(가로, 세로)가 아니라 값 자체를 기준으로 정렬!!!

In [ ]:
stock_price_DF.sort_values(by="고가")

               시가     종가     고가    저가
2022-01-01  10000  11000  13000  3000
2022-01-02  10300  12000  15000  5000
2022-01-03   9900  10000  15000  5000
2022-01-5   11000  12000  17000  7000
2022-01-04  10500  13000  18000  8000

In [ ]:
stock_price_DF.sort_values(by=["고가","시가"])

               시가     종가     고가    저가
2022-01-01  10000  11000  13000  3000
2022-01-03   9900  10000  15000  5000
2022-01-02  10300  12000  15000  5000
2022-01-5   11000  12000  17000  7000
2022-01-04  10500  13000  18000  8000

In [ ]:
stock_price_DF["종가"].rank()

2022-01-01    2.0
2022-01-02    3.5
2022-01-03    1.0
2022-01-04    5.0
2022-01-5     3.5
Name: 종가, dtype: float64

In [ ]:
stock_price_DF["종가"].rank(method="max")

2022-01-01    2.0
2022-01-02    4.0
2022-01-03    1.0
2022-01-04    5.0
2022-01-5     4.0
Name: 종가, dtype: float64

In [ ]:
stock_price_DF["종가"].rank(method="max", ascending=False)

2022-01-01    4.0
2022-01-02    3.0
2022-01-03    5.0
2022-01-04    1.0
2022-01-5     3.0
Name: 종가, dtype: float64

In [ ]:
######### 중요!!!!! 줄 단위 일괄 처리 apply & lambda #####

In [ ]:
stock_price_DF

               시가     종가     고가    저가
2022-01-01  10000  11000  13000  3000
2022-01-02  10300  12000  15000  5000
2022-01-03   9900  10000  15000  5000
2022-01-04  10500  13000  18000  8000
2022-01-5   11000  12000  17000  7000

In [ ]:
# 날짜별로 그 날짜의 여러 값 중에서 max-min의 차이를 알고자 함!!

In [ ]:
stock_price_DF.apply(lambda x : x.max() - x.min(), axis=1)

2022-01-01    10000
2022-01-02    10000
2022-01-03    10000
2022-01-04    10000
2022-01-5     10000
dtype: int64

In [ ]:
stock_price_DF.apply(lambda x : x.max() - x.min(), axis=0)

시가    1100
종가    3000
고가    5000
저가    5000
dtype: int64

In [ ]:
stock_price_DF.applymap(lambda x : x+5)

               시가     종가     고가    저가
2022-01-01  10005  11005  13005  3005
2022-01-02  10305  12005  15005  5005
2022-01-03   9905  10005  15005  5005
2022-01-04  10505  13005  18005  8005
2022-01-5   11005  12005  17005  7005

In [ ]:
# Q) 기존의 DF에서, 날짜별로 (lambda apply사용)
#                   최고가격과 최저가격의 차이를 계산해서
#                   그 값을 새로운 "Gap"컬럼에 만들어보세요~
# Q) GapFor컬럼에는 동일한 기능인데, for문을 통해서 작업!!

In [ ]:
stock_price_DF["gap"] = stock_price_DF.apply(lambda x : x.max() - x.min(), axis=1)
stock_price_DF

               시가     종가     고가    저가    gap
2022-01-01  10000  11000  13000  3000  10000
2022-01-02  10300  12000  15000  5000  10000
2022-01-03   9900  10000  15000  5000  10000
2022-01-04  10500  13000  18000  8000  10000
2022-01-5   11000  12000  17000  7000  10000

In [ ]:
stock_price_DF["gapfor"] = 0
stock_price_DF

               시가     종가     고가    저가    gap  gapfor
2022-01-01  10000  11000  13000  3000  10000       0
2022-01-02  10300  12000  15000  5000  10000       0
2022-01-03   9900  10000  15000  5000  10000       0
2022-01-04  10500  13000  18000  8000  10000       0
2022-01-5   11000  12000  17000  7000  10000       0

In [ ]:
# 기준 : 정수 인덱스1!!!!!
for i in range(0, len(stock_price_DF)):
    가로 i번째 줄에서 앞의 4개의 값들 가져오기!!! : iloc
    4개의 값 중에서 max
    4개의 값 중에서 min
    이 값의 차이 : temp
    업데이트 할 위치 : 가로줄 i, 세로줄 gapfor 컬럼줄 -> temp

In [ ]:
stock_price_DF

               시가     종가     고가    저가    gap
2022-01-01  10000  11000  13000  3000  10000
2022-01-02  10300  12000  15000  5000  10000
2022-01-03   9900  10000  15000  5000  10000
2022-01-04  10500  13000  18000  8000  10000
2022-01-5   11000  12000  17000  7000  10000

In [ ]:
nrows = stock_price_DF.shape[0]
for i in range(nrows): # 0~4까지 i번째 가로줄 접근 인덱스
    data = stock_price_DF.iloc[i, :4]
    temp = data.max()-data.min()
    stock_price_DF.iat[i, 5] = temp
stock_price_DF

               시가     종가     고가    저가    gap  gapfor
2022-01-01  10000  11000  13000  3000  10000   10000
2022-01-02  10300  12000  15000  5000  10000   10000
2022-01-03   9900  10000  15000  5000  10000   10000
2022-01-04  10500  13000  18000  8000  10000   10000
2022-01-5   11000  12000  17000  7000  10000   10000

In [ ]:

cols = ["시가","종가","고가","저가"]
cols_idx = [ stock_price_DF.columns.get_loc(col) for col in cols]
cols_idx

[0, 1, 2, 3]

In [ ]:
# 수정) 
stock_price_DF["gapfor"] = 0
nrows = stock_price_DF.shape[0]
idx = stock_price_DF.columns.get_loc("gapfor")

cols = ["시가","종가","고가","저가"]
cols_idx = [ stock_price_DF.columns.get_loc(col) for col in cols]

for i in range(nrows): # 0~4까지 i번째 가로줄 접근 인덱스
    data = stock_price_DF.iloc[i, cols_idx]
    temp = data.max()-data.min()
    stock_price_DF.iat[i, idx] = temp
stock_price_DF

               시가     종가     고가    저가    gap  gapfor
2022-01-01  10000  11000  13000  3000  10000   10000
2022-01-02  10300  12000  15000  5000  10000   10000
2022-01-03   9900  10000  15000  5000  10000   10000
2022-01-04  10500  13000  18000  8000  10000   10000
2022-01-5   11000  12000  17000  7000  10000   10000

In [ ]:
# Q) 위의 주어진 DF에서 시가의 1월 1일~1월 5일까지의 평균,
#                       종가의 1월 1일~1월 5일까지의 평균,
#                       고가, 저가에 대해서도 같이 하면?

In [ ]:
stock_price_DF.iloc[:,:4] # 필요한 컬럼이 시,저,종,고
# point) 전체 DF에서 생각이 아니라!!!
#        내가 해야할 것들에 대해서 추리고!!!!loc,iloc,at.iat
#        거기서 무엇을 할지 생각!!!!
# 내가 필요하고 처리할 정보들이 무엇인지 꼭!!!!!! 생각하고
# 그 다음을!!stock_price_DF.iloc[:,:4] # 필요한 컬럼이 시,저,종,고
# point) 전체 DF에서 생각이 아니라!!!
#        내가 해야할 것들에 대해서 추리고!!!!loc,iloc,at.iat
#        거기서 무엇을 할지 생각!!!!
# 내가 필요하고 처리할 정보들이 무엇인지 꼭!!!!!! 생각하고
# 그 다음을!!

               시가     종가     고가    저가
2022-01-01  10000  11000  13000  3000
2022-01-02  10300  12000  15000  5000
2022-01-03   9900  10000  15000  5000
2022-01-04  10500  13000  18000  8000
2022-01-5   11000  12000  17000  7000

In [ ]:
stock_price_DF.iloc[:,:4].apply(lambda x : x.mean(), axis=0)

시가    10340.0
종가    11600.0
고가    15600.0
저가     5600.0
dtype: float64

In [ ]:
# Q) 위의 주어진 DF에서 날짜별로 4개의(시,고,저,종)의 평균은?