<a href="https://colab.research.google.com/github/daegeunbae/daegeunbae/blob/main/2022_02_07_%ED%8C%90%EB%8B%A4%EC%8A%A4_%EB%B0%B0%EB%8C%80%EA%B7%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range (1,6,1):
    print("@" * i)

@
@@
@@@
@@@@
@@@@@

In [ ]:
a = [100,200,300,400,500]
i+10 for i in a if i not in [200,400]

SyntaxError: ignored

In [ ]:
z = [51,35,66,77]
len([z for i in range if z >= 60])

TypeError: ignored

In [ ]:
print ("@ * i ")
for i range(i,-i)
dict.items
list enumerate(a)

SyntaxError: ignored

In [ ]:
sorted(zumsu.list.key = lambda x : (x[0]))

In [ ]:
# 참고) 파이썬의 기본 자료유형인 dict -> pandas Series로 전환
import numpy as np
import pandas as pd

In [ ]:
sdata = { "APPL" : 1000, "MS":2000, "AMAZON":3000}
s_dict1 = pd.Series(sdata)
s_dict1

APPL      1000
MS        2000
AMAZON    3000
dtype: int64

In [ ]:
idx =  ["2021-03-01","2021-03-02", "2021-03-03","2021-03-04","2021-03-5"]
data = [ 10000, 10300, 9900, 10500, 11000 ]

In [ ]:
stock_price_Series_index = pd.Series( [ 10000, 10300, 9900, 10500, 11000 ],
                                     index = ["2021-03-01","2021-03-02",
                                              "2021-03-03","2021-03-04","2021-03-5"])
stock_price_Series_index

2021-03-01    10000
2021-03-02    10300
2021-03-03     9900
2021-03-04    10500
2021-03-5     11000
dtype: int64

In [ ]:
stock_price_Series_index[2]

9900

In [ ]:
stock_price_Series_index["2021-03-03"]

9900

In [ ]:
stock_price_Series_index[2:4]

2021-03-03     9900
2021-03-04    10500
dtype: int64

In [ ]:
stock_price_Series_index["2021-03-01":"2021-03-04":2]
# 의미 : 내가 만든 인덱스도 슬라이싱이 되네~~~~(단, 끝점은 나타남.)

2021-03-01    10000
2021-03-03     9900
dtype: int64

In [ ]:
stock_price_list[ [0,3]]

TypeError: ignored

In [ ]:
stock_price_Series_index

2021-03-01    10000
2021-03-02    10300
2021-03-03     9900
2021-03-04    10500
2021-03-5     11000
dtype: int64

In [ ]:
#pandas는 index를 기준으로 우선으로 하는구나~
#지정된 index를 기준으로 틀을 만들고, 값을 채우는 형식으로
ticker = ["GOOGLE", "APPL", "AMAZON"]
s_dict2 = pd.Series(data = sdata , index = ticker)
s_dict2

NameError: ignored

In [ ]:
# 생성1) 쌩 파이썬 리스트
stock_price_list = [ 10000, 10300, 9900, 10500, 11000 ]
stock_price_Series = pd.Series( [ 10000, 10300, 9900, 10500, 11000 ] )

In [ ]:
idx =  ["2021-03-01","2021-03-02", "2021-03-03","2021-03-04","2021-03-5"]
data = [ 10000, 10300, 9900, 10500, 11000 ]

In [ ]:
s_test.isnull()
#데이터의 값이 누락이 되었니? -> isnull 누락된 데이터 중심으로 찾을때
#데이터의 값이 누락 안되었나? -> notnull 값이 있는 데이터 중심으로 찾을때

NameError: ignored

In [ ]:
s_test.notnull()# 누락이 없이 잘 들어 있는 것들만 조건 검색!

In [ ]:
s_test[s_test.isnull()]

NameError: ignored

In [ ]:
#인덱스에 이름 붙이기..
sotck_price_Series_index.index.name = "stock price date"
sotck_price_Series_index

NameError: ignored

In [ ]:
#1개 at, iat
#여러개: loc, iloc
#내가 정수 인덱스로 접근할지, 내가 만든 인덱스로 접근할지  명시적으로 딱 정해야 함

In [ ]:
stock_price_Series_index["2021-03-01":"2021-03-03"]

NameError: ignored

In [ ]:
sotck_price_Series_index.loc["2021-03-01":"2021-03-03"]

NameError: ignored

In [ ]:
stock_price_Series_index["2021-03-01","2021-03-03"]

NameError: ignored

In [ ]:
stock_price_Series_index[0:3]

NameError: ignored

In [ ]:
stock_price_Series_index.loc[0:3] #대용량 처리할때는 필수

In [ ]:
# 인덱스에 대해서 슬라이싱이 아닌 랜덤한, 보고자하는 것들에 대한
# 멀티 셀렉션!!!! -> 여러개의 값 !! -> [ 볼인덱스1, 볼인덱스2, ,,,,]
# 위의 형태로 [ ] 인덱스 자리에 들어간다!!
# 볼 것이 여러개여서 다만 표현이 [ ] 으로 되어서 [  [ idx1, idx2, ,,,]]
#단순 데이터 탐색이나 결과를 보기용으로는 큰 차이가 없음!
#다만, 많은 데이터들에 대한 batch 처리에서는 속도차이가 상당함!
# 속도가 중요할 때는 FM방법으로 코드를 작성할 것!

In [ ]:
#count, append, max, min
add_data = pd.Series([12345]),index=["2022-02-07"]
stock_price_Series_index.append(add_data
stock_price_Series_index

SyntaxError: ignored

In [ ]:
#리스트에서와 같은 뒤로 추가가 되기는 하는데,
#리스트와 달리 자기 자신이 바로 업데이트가 되지 않음!
# -> 재할당!!
s_test2 = stock_price_Series_index.append(add_data)
s_test2

NameError: ignored

In [ ]:
add_data = pd.Series([12345]), index=["2021-03-01"]
add_data

SyntaxError: ignored

In [ ]:
s_test2 = stock_price_Series_index.append(add_data)
s_test2

In [ ]:
#유니크한 인덱스만 허용해서 추가하려면
#참고 pandas는 일반적인 인덱스의 개념과 달리 이중 인덱스를 기본으로 하고 있어서
# 추가를 할 때, 작업하다가 오타가 되어서 등 이중인덱스에 대한 에러를 기본으로 안함
#-----> 항상 이중 인덱스에 대한 여부를 인지를 해야함! 특히 데이터를 추가할 때!!

In [ ]:
# 기타 수식 함수
stock_price_Series_index.max()

11000

In [ ]:
stock_price_Series_index.mean()

10340.0

In [ ]:
stock_price_Series_index.std()

439.31765272977594

In [ ]:
stock_price_Series_index.var()

193000.0

In [ ]:
#1)Pandas는 차원에 따라서 데이터 타입을 지정을 함
#   1D: series, 2D: dataframe(대소문자 주의!)
#2) 태생적인 정수 인덱스 + 내가 만든 인덱스!
#   -> 모든 것들 다 둘다에 가능함
#   -> 간략방법 [ ] 인덱스로 바로 접근
#   -> FM방법: 1개(at, iat) vs 여러개(loc,iloc)
#           접근 ㅈ군이 정수 인덱스냐 내가 만든거냐!
#3) 
#
#
3

SyntaxError: ignored

In [ ]:
#지금부터 2차원 데이터 프레임 이전까지는 data Series
import numpy as np
import pandas as pd

In [ ]:
## DF값 생성하기~~

In [ ]:
#가로줄 인덱스, 세로줄 인덱스를 명시적으로 보여주는게 펜 표시
# 
d = [1,2,3,4,5]
df = pd.DataFrame(d) #대소문자 신경쓰고 d를 데이타프레임으로 바꾸겠다
df

   0
0  1
1  2
2  3
3  4
4  5

In [ ]:
ps = pd.Series(d) #1차원
ps

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
#간략하게 df에서 핸들링 해보기 가로줄을 인덱스, 세로줄은 컬럼으로 부름
#판다스의 dataFrame에서 인덱스가 2개가 존재하는데
#가로줄:index
#세로줄:columns

In [ ]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
df.columns

RangeIndex(start=0, stop=1, step=1)

In [ ]:
df.columns = ["col1"]
df

   col1
0     1
1     2
2     3
3     4
4     5

In [ ]:
#앞으로 편히 자주 사용하는 것이
# -> 기존의 DF가 있는 상태에서 컬럼을 추가!

In [ ]:
df["newCol"]=5
df

   col1  newCol
0     1       5
1     2       5
2     3       5
3     4       5
4     5       5

In [ ]:
df["newCol"]

0    5
1    5
2    5
3    5
4    5
Name: newCol, dtype: int64

In [ ]:
df

   col1  newCol
0     1       5
1     2       5
2     3       5
3     4       5
4     5       5

In [ ]:
#기존 컬럼을 바탕으로 새로운 컬럼을 만드는 것, 머신러닝에서 가장 빈번한 케이스
df["new1"] = df["col1"] * 100
df

   col1  newCol   new1
0   100       5  10000
1   200       5  20000
2   300       5  30000
3   400       5  40000
4   500       5  50000

In [ ]:
#기존 컬럼의 값을 처리를 하여 제거해야 할때!
#아니면 불필요한 컬럼을 제거하고 싶을때!

In [ ]:
#방법 1) del 함수 이용

In [ ]:
# Q1) 기존의 df에서 col1의 값과 newCol의 값을 합해서 새로운 new2라는 컬럼을 만들어 보세요~

In [ ]:
df["new2"] = df["col1"] + df["newCol"]
df

   col1  newCol   new1  new2
0   100       5  10000   105
1   200       5  20000   205
2   300       5  30000   305
3   400       5  40000   405
4   500       5  50000   505

In [ ]:
del df["new2"]
df

   col1  newCol   new1
0   100       5  10000
1   200       5  20000
2   300       5  30000
3   400       5  40000
4   500       5  50000

In [ ]:
# 방법2) DF의 drop 메서드
df.drop("new1", axis = 1) #axis 시가 세로방향으로 돌때 , 
#가로줄의 axis 0이면 밑으로 정보를 담고 axis 1이면 가로방향으로 정보를 담겠다!!!
df

   col1  newCol   new1
0   100       5  10000
1   200       5  20000
2   300       5  30000
3   400       5  40000
4   500       5  50000

In [ ]:
df.drop("new1", axis = 1)
df

   col1  newCol   new1
0   100       5  10000
1   200       5  20000
2   300       5  30000
3   400       5  40000
4   500       5  50000

In [ ]:
df.drop(3, axis = 0) #가로줄 3번째에 있는 한줄 한줄을 지우겠다
df

   col1  newCol   new1
0   100       5  10000
1   200       5  20000
2   300       5  30000
3   400       5  40000
4   500       5  50000

In [ ]:
df.drop(2, axis = 1)
df

KeyError: ignored

In [ ]:
stock_price_DF = pd.DataFrame(
    data = [10000,10300,9900,10500,11000],
    index = [
             "2022-01-01","2022-01-02","2022-01-03",
             "2022-01-04","2022-01-05"]
)
stock_price_DF

                0
2022-01-01  10000
2022-01-02  10300
2022-01-03   9900
2022-01-04  10500
2022-01-05  11000

In [ ]:
#컬럼 이름 변경!! -> 자주 사용됨!
#rename은 이름 변경 메서드
#dictionary형태로 key,value보다 ~를 ~로 바꿔주세요의 개념

In [ ]:
stock_price_DF.rename(columns = {"0","시가"},inplace=True) #정수 인덱스로 바꿔야 함!
stock_price_DF
#에러가 없는 것이 아니라 진짜 변경이 되었는지 더블 체크할 것!!

TypeError: ignored

In [ ]:
stock_price_DF.rename(columns = {0:"시가"},inplace=True) 
stock_price_DF

               시가
2022-01-01  10000
2022-01-02  10300
2022-01-03   9900
2022-01-04  10500
2022-01-05  11000

In [ ]:
#일단 DF가 1줄이라고 있는 상태에서 옆으로 컬럼 추가를 하고자 한다
#종가 컬럼 추가: 11000,12000,10000,24000,12000
#고가 컬럼 추가: 13000,15000,15000,18000,17000
#저가 컬럼 추가: 3000,5000,5000,8000,7000

In [ ]:
stock_price_DF = pd.DataFrame(
    data = [10000,10300,9900,10500,11000],
    index = [
             "2022-01-01","2022-01-02","2022-01-03",
             "2022-01-04","2022-01-05"]
)
stock_price_DF.rename(columns = {0:"시가"},inplace=True) #없을경우 영이 뜸
stock_price_DF["종가"] = [11000,12000,10000,24000,12000]
stock_price_DF["고가"] = [13000,15000,15000,18000,17000]
stock_price_DF["저가"] = [3000,5000,5000,8000,7000]
stock_price_DF

               시가     종가     고가    저가
2022-01-01  10000  11000  13000  3000
2022-01-02  10300  12000  15000  5000
2022-01-03   9900  10000  15000  5000
2022-01-04  10500  24000  18000  8000
2022-01-05  11000  12000  17000  7000

In [ ]:
#Q) 컬럼 이름을 시가:S, 종가:E, 고가:H,저가 : L
# Q) 다시 원래대로 컬럼 복구해보기

In [ ]:
stock_price_DF.rename(columns={
    "시가":"S", "종가":"E",
    "고가":"H", "저가":"L"

},inplace = True) #쉼표 실수!!!!!!!
stock_price_DF

                S      E      H     L
2022-01-01  10000  11000  13000  3000
2022-01-02  10300  12000  15000  5000
2022-01-03   9900  10000  15000  5000
2022-01-04  10500  24000  18000  8000
2022-01-05  11000  12000  17000  7000

In [ ]:
stock_price_DF.rename(columns={
    "S":"시가", "E":"종가",
    "H":"고가", "L":"저가"
}, inplace = True)
stock_price_DF

               시가     종가     고가    저가
2022-01-01  10000  11000  13000  3000
2022-01-02  10300  12000  15000  5000
2022-01-03   9900  10000  15000  5000
2022-01-04  10500  24000  18000  8000
2022-01-05  11000  12000  17000  7000

In [ ]:
# Q1) stock_price_DF.iat[0]은 왜 에러가 나타날까?
# Q2) 2022년 1월 3일의 시가와 종가는?
# Q3) 2022년 1월 1일부터 1월 3일의 시가/종가/고가/저가는?

In [ ]:
stock_price_DF.iat[0] #1차원이 아님!! 2차원의 관점으로 바라봐야한다!!

TypeError: ignored

In [ ]:
stock_price_DF.iat[0,0]

10000

In [ ]:
#stock_price_DF.loc[가로 (인덱스),세로(칼럼)]
stock_price_DF.loc["2022-01-01",["시가","저가"]]

시가    10000
저가     3000
Name: 2022-01-01, dtype: int64

In [ ]:
stock_price_DF.loc["2022-01-01":"2022-01-05","시가":"저가"]

               시가     종가     고가    저가
2022-01-01  10000  11000  13000  3000
2022-01-02  10300  12000  15000  5000
2022-01-03   9900  10000  15000  5000
2022-01-04  10500  24000  18000  8000
2022-01-05  11000  12000  17000  7000

In [ ]:
# Q) 2022년 1월 3일, 시가는 얼마?
# Q) 2022년 1월 3일, 1월 5일의 시가, 종가는?
# Q) 시가와 저가만 보려면?
stock_price_DF.at["2022-01-03","시가"]

9900

In [ ]:
stock_price_DF["2022-01-03":"2022-01-05"]

               시가     종가     고가    저가
2022-01-03   9900  10000  15000  5000
2022-01-04  10500  24000  18000  8000
2022-01-05  11000  12000  17000  7000

In [ ]:
stock_price_DF.loc["2022-01-03":"2022-01-05"]

               시가     종가     고가    저가
2022-01-03   9900  10000  15000  5000
2022-01-04  10500  24000  18000  8000
2022-01-05  11000  12000  17000  7000

In [ ]:
# Q) 2022년 1월 1일, 1월 5일의 시가,종가는?
stock_price_DF.loc["2022-01-01":"2022-01-03","시가":"종가"]

               시가     종가
2022-01-01  10000  11000
2022-01-02  10300  12000
2022-01-03   9900  10000

In [ ]:
# Q) 시가 종가만 보려면?
stock_price_DF[["시가","종가"]]

               시가     종가
2022-01-01  10000  11000
2022-01-02  10300  12000
2022-01-03   9900  10000
2022-01-04  10500  24000
2022-01-05  11000  12000

In [ ]:
stock_price_DF.shape[0] #shape 가로와 세로를 나타냄

5

In [ ]:
stock_price_DF.shape[1]

4

In [ ]:
len(stock_price_DF) #len은 가로줄에 대해서만 얘기를 한다

5

In [140]:
stock_price_DF.reindex(["2022-01-01","2022-01-03"])

               시가     종가     고가    저가
2022-01-01  10000  11000  13000  3000
2022-01-03   9900  10000  15000  5000

In [141]:
stock_price_DF

               시가     종가     고가    저가
2022-01-01  10000  11000  13000  3000
2022-01-02  10300  12000  15000  5000
2022-01-03   9900  10000  15000  5000
2022-01-04  10500  24000  18000  8000
2022-01-05  11000  12000  17000  7000

In [142]:
stock_price_DF.reindex(["2022-01-01","2022-01-03"],
                       fill_value=0)

               시가     종가     고가    저가
2022-01-01  10000  11000  13000  3000
2022-01-03   9900  10000  15000  5000

In [146]:
# 중간에 누락된 값을 채우는 방법 중 하나: 보간법
test = pd.DataFrame([4.5, 7.2, -5.3], index=["c","b","a"])
test

     0
c  4.5
b  7.2
a -5.3

In [147]:
test = test.reindex(["a","b","c","d","e"])
test

     0
a -5.3
b  7.2
c  4.5
d  NaN
e  NaN

In [149]:
test.iloc[:,0].interpolate()

a   -5.3
b    7.2
c    4.5
d    4.5
e    4.5
Name: 0, dtype: float64

In [150]:
test["adj"] = test.iloc[:,0].interpolate()
test

     0  adj
a -5.3 -5.3
b  7.2  7.2
c  4.5  4.5
d  NaN  4.5
e  NaN  4.5

In [152]:
test = test.reindex(["f","a","b","c","d"])
test

     0  adj
f  NaN  NaN
a -5.3 -5.3
b  7.2  7.2
c  4.5  4.5
d  NaN  4.5

In [153]:
test.interpolate() #단순히 기계적으로 적용하면 안되고 꼭 직접 데이터가 변형되었는지 체크

     0  adj
f  NaN  NaN
a -5.3 -5.3
b  7.2  7.2
c  4.5  4.5
d  4.5  4.5

In [ ]:
#정렬 
#   판다스는 기본적인 구성이 인덱스 +값
#       -> 정렬 기준도 인덱스 or 값
#       여기서 DF는 2차원이어서 인덱스로 할때 가로인덱스? 세로 인덱스?
#       drop처럼 axis로 선택해서!

In [158]:
stock_price_DF.sort_index(axis = 1,ascending = True)

               고가     시가    저가     종가
2022-01-01  13000  10000  3000  11000
2022-01-02  15000  10300  5000  12000
2022-01-03  15000   9900  5000  10000
2022-01-04  18000  10500  8000  24000
2022-01-05  17000  11000  7000  12000

In [159]:
stock_price_DF.sort_index(axis = 1,ascending = False) #가로줄에 대해서만 정렬

               종가    저가     시가     고가
2022-01-01  11000  3000  10000  13000
2022-01-02  12000  5000  10300  15000
2022-01-03  10000  5000   9900  15000
2022-01-04  24000  8000  10500  18000
2022-01-05  12000  7000  11000  17000

In [160]:
# Q) 가로줄은 최근 날짜를 맨 앞으로
#        세로줄은 컬럼명(ㄱ ->ㅎ) 순서대로 정렬해서 보고자 하면?
stock_price_DF.sort_index(axis = 1,ascending = False).sort_index(axis = 0, ascending=True)

               종가    저가     시가     고가
2022-01-01  11000  3000  10000  13000
2022-01-02  12000  5000  10300  15000
2022-01-03  10000  5000   9900  15000
2022-01-04  24000  8000  10500  18000
2022-01-05  12000  7000  11000  17000

In [162]:
# Q) 가로줄은 최근 날짜를 맨 앞으로
#        세로줄은 컬럼명(ㄱ ->ㅎ) 순서대로 정렬해서 보고자 하면?
stock_price_DF.sort_index(axis = 0,ascending = False).sort_index(axis = 1, ascending=True)

               고가     시가    저가     종가
2022-01-05  17000  11000  7000  12000
2022-01-04  18000  10500  8000  24000
2022-01-03  15000   9900  5000  10000
2022-01-02  15000  10300  5000  12000
2022-01-01  13000  10000  3000  11000

In [161]:
# 인덱스(가로,세로)가 아니라 값 자체를 기준으로 정렬!
stock_price_DF.sort_values(by="고가")

               시가     종가     고가    저가
2022-01-01  10000  11000  13000  3000
2022-01-02  10300  12000  15000  5000
2022-01-03   9900  10000  15000  5000
2022-01-05  11000  12000  17000  7000
2022-01-04  10500  24000  18000  8000

In [164]:
stock_price_DF.sort_values(by=["고가","저가"]) #고가와 다음으로 저가를 기준으로 솔팅!
#value보다는 index를 중심으로 짜맞추는 경우가 많음. index가 중요하며 작업할때 많이 쓰임!!

               시가     종가     고가    저가
2022-01-01  10000  11000  13000  3000
2022-01-02  10300  12000  15000  5000
2022-01-03   9900  10000  15000  5000
2022-01-05  11000  12000  17000  7000
2022-01-04  10500  24000  18000  8000

In [165]:
stock_price_DF["종가"].rank()

2022-01-01    2.0
2022-01-02    3.5
2022-01-03    1.0
2022-01-04    5.0
2022-01-05    3.5
Name: 종가, dtype: float64

In [166]:
stock_price_DF["종가"].rank(method="max") #종가에서 큰값

2022-01-01    2.0
2022-01-02    4.0
2022-01-03    1.0
2022-01-04    5.0
2022-01-05    4.0
Name: 종가, dtype: float64

In [167]:
stock_price_DF["종가"].rank(method="max", ascending=False)

2022-01-01    4.0
2022-01-02    3.0
2022-01-03    5.0
2022-01-04    1.0
2022-01-05    3.0
Name: 종가, dtype: float64

In [168]:
stock_price_DF

               시가     종가     고가    저가
2022-01-01  10000  11000  13000  3000
2022-01-02  10300  12000  15000  5000
2022-01-03   9900  10000  15000  5000
2022-01-04  10500  24000  18000  8000
2022-01-05  11000  12000  17000  7000

In [171]:
#날짜별로 그 날짜의 여러 값 중에서 max-min의 차이를 알고자 함
stock_price_DF.apply(lambda x : x.max() - x.min(), axis = 0) #가로줄 전체가 x

시가     1100
종가    14000
고가     5000
저가     5000
dtype: int64

In [172]:
stock_price_DF.applymap(lambda x: x+5 )

               시가     종가     고가    저가
2022-01-01  10005  11005  13005  3005
2022-01-02  10305  12005  15005  5005
2022-01-03   9905  10005  15005  5005
2022-01-04  10505  24005  18005  8005
2022-01-05  11005  12005  17005  7005

In [179]:
# Q1) 기존의 DF에서, 날짜별로 최고가격과 최저가격의 차이를 계산해서 그 값을 새로운 "Gap" 컬럼에 만들어보세요
#           최고가격과 최저가격의 차이를 계산해서 그 값을 새로운 gap 컬럼에 만들어보세요

stock_price_DF["gap"] = stock_price_DF.apply(lambda x : x.max() - x.min(), axis = 1)
stock_price_DF

               시가     종가     고가    저가  gapfor    gap
2022-01-01  10000  11000  13000  3000       0  13000
2022-01-02  10300  12000  15000  5000       0  15000
2022-01-03   9900  10000  15000  5000       0  15000
2022-01-04  10500  24000  18000  8000       0  24000
2022-01-05  11000  12000  17000  7000       0  17000

In [177]:
#기존 컬럼을 바탕으로 새로운 컬럼을 만드는 것, 머신러닝에서 가장 빈번한 케이스
# Q2) for 루프 이용해서 해보기, loc나 iloc = 정수 를 갖고 와야함
stock_price_DF["gapfor"] = 0
stock_price_DF

               시가     종가     고가    저가  gapfor
2022-01-01  10000  11000  13000  3000       0
2022-01-02  10300  12000  15000  5000       0
2022-01-03   9900  10000  15000  5000       0
2022-01-04  10500  24000  18000  8000       0
2022-01-05  11000  12000  17000  7000       0

In [ ]:
from pandas.core.common import temp_setattr
#기준: 정수 인덱스1!!!!
for i in range(0, len(stock_price_DF)):
    가로 i 번째 줄에서 앞의 4개의 값들 가져오기!! iloc
    4개의 값 중에서 max
    4개의 값 중에서 min
    이 값의 차이 : temp
    업데이트 할 위치 : 가로줄 i, 세로줄 gapfor 컬럼줄 -> temp

In [180]:
nrows = stock_price_DF.shape[0]
for i in range(nrows): # 0~4까지 i번째 가로줄 접근 인덱스
    data = stock_price_DF.iloc[i, :4]
    print(data)
    print("----")

시가    10000
종가    11000
고가    13000
저가     3000
Name: 2022-01-01, dtype: int64
----
시가    10300
종가    12000
고가    15000
저가     5000
Name: 2022-01-02, dtype: int64
----
시가     9900
종가    10000
고가    15000
저가     5000
Name: 2022-01-03, dtype: int64
----
시가    10500
종가    24000
고가    18000
저가     8000
Name: 2022-01-04, dtype: int64
----
시가    11000
종가    12000
고가    17000
저가     7000
Name: 2022-01-05, dtype: int64
----

In [ ]:
nrows = stock_price_DF.shape[0]
for i in range(nrows): # 0~4까지 i번째 가로줄 접근 인덱스
    data = stock_price_DF.iloc[i, :4]
    temp = data.max()-data.min()
    stock_price_DF
    print(data)
    print("----")

In [181]:
# 수정) 
stock_price_DF["gapfor"] = 0 #gapfor 컬럼을 만들어줘                    -1
nrows = stock_price_DF.shape[0] #n개의 가로줄은 첫번째 이다.            -2
idx = stock_price_DF.columns.get_loc("gapfor") #get_loc 정보를 알려줘.  -3

cols = ["시가","종가","고가","저가"] #세로축                            -4
cols_idx = [ stock_price_DF.columns.get_loc(col) for col in cols] #     -5 리스트컴프리핸션으로 

for i in range(nrows): # 0~4까지 i번째 가로줄 접근 인덱스
    data = stock_price_DF.iloc[i, cols_idx]
    temp = data.max()-data.min() #최대값 - 최소값 의 값
    stock_price_DF.iat[i, idx] = temp # 그 값을 추출해줘
stock_price_DF

               시가     종가     고가    저가  gapfor    gap
2022-01-01  10000  11000  13000  3000   10000  13000
2022-01-02  10300  12000  15000  5000   10000  15000
2022-01-03   9900  10000  15000  5000   10000  15000
2022-01-04  10500  24000  18000  8000   16000  24000
2022-01-05  11000  12000  17000  7000   10000  17000

In [185]:
# Q) 위의 주어진 DF에서 시가의 1월 1일~1월 5일까지의 평균,
#                       종가의 1월 1일~1월 5일까지의 평균,
#                       고가, 저가에 대해서도 같이 하면?
stock_price_DF.iloc[:,:4].apply(lambda x : x.mean(), axis=0) #날짜 밑에 평균을 넣어야겠지?
stock_price_DF

               시가     종가     고가    저가  gapfor    gap  평균
2022-01-01  10000  11000  13000  3000   10000  13000   0
2022-01-02  10300  12000  15000  5000   10000  15000   0
2022-01-03   9900  10000  15000  5000   10000  15000   0
2022-01-04  10500  24000  18000  8000   16000  24000   0
2022-01-05  11000  12000  17000  7000   10000  17000   0

In [ ]:
stock_price_DF.iloc[:,:4] #필요한 컬럼 시,저,종,고
#point) 전체 DF에서 생각이 아니라
#       내가

In [186]:
# Q) 위의 주어진 DF에서 날짜별로 4개의(시,고,저,종)의 평균은?
stock_price_DF.iloc[:,:4].apply(lambda x : x.mean(), axis=1) #세로 방향

2022-01-01     9250.0
2022-01-02    10575.0
2022-01-03     9975.0
2022-01-04    15125.0
2022-01-05    11750.0
dtype: float64

In [ ]:
#### 미로탈출 : BFS

In [ ]:
# 입력단
n, m = map(int, input("가로,세로 크기 입력").split())
# 미로에 대한 지도 받기
graph = []
# 가로줄수 만큼 돌리면서 입력을 받으면 되니.
for _ in range(n):
    graph.append(list(map(int, input("~~").split())))
graph

In [ ]:
row = [0,1,2,3]
column = [0,1,2,3,4,5]

In [ ]:
# 4가지 방향에 대한 이동~
dx = [ ]
dy = [ ]

# bfs -> 큐를 사용할 것인데,,속도때문에..deque
from collections import deque

# 처리하는 함수 : bfs_miro 함수이름
#               : 입력 : 시작점 위치 정보-> 스탭가면서 +1 지도 갱신
#               : 출력은 없음!!! 
#               : 하지만, 진행하면서 Visited하면 graph에 값을 갱신하면서 진행~
def bfs_miro(~~):
    #일단 지금 위치에 대해서

# 구체적인 함수 실행 : 시작점에 대한 위치 정보 -> (0,0) :파이썬 기준
bfs_miro( (0,0) )

In [187]:
import pandas as pd

df = pd.DataFrame({
    'Col 1': [30,40,50,60],
    'Col 2': [23,35,65,45],
    'Col 3': [85,87,90,89],

},index=["A","B","C","D"])

print(df,"\n")

   Col 1  Col 2  Col 3
A     30     23     85
B     40     35     87
C     50     65     90
D     60     45     89

In [188]:
import pandas as pd

df = pd.DataFrame({
    'Col 1': [30,40,50,60],
    'Col 2': [23,35,65,45],
    'Col 3': [85,87,90,89],

},index=["A","B","C","D"])

print("Initial DataFrame:")
print(df,"\n")

scaled_df=df.applymap(lambda a: a*10)

print("Scaled DataFrame:")
print(scaled_df,"\n")

Initial DataFrame:
   Col 1  Col 2  Col 3
A     30     23     85
B     40     35     87
C     50     65     90
D     60     45     89

Scaled DataFrame:
   Col 1  Col 2  Col 3
A    300    230    850
B    400    350    870
C    500    650    900
D    600    450    890

In [189]:
#시리즈 생성하기: list
s = pd.Series(['Kim', 'Lee', 'Park'])
s

#	0     Kim
#	1     Lee
#	2    Park
#	dtype: object

0     Kim
1     Lee
2    Park
dtype: object

In [190]:
#시리즈 생성하기: dict
s = pd.Series({'Kim': 20, 'Lee': 28, 'Park': 36})
s

#	Kim     20
#	Lee     28
#	Park    36
#	dtype: int64

Kim     20
Lee     28
Park    36
dtype: int64